<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static\styles.css">
</head>
<body onscroll="stickyTopBar()">
    <div class="top_color_block">
        <a href="javascript:void(0)">Check out the most current promotion!</a>
    </div>
    <div class="header">
        <div class="header_name">
            <p>Jacob Pond</p>
        </div>
        <div class="header_links">
            <a href="/">Home</a>
            <a class="active" href="/projects/">Projects</a>
            <a href="javascript:void(0)">Game (In Progress)</a>
        </div>
        <div class="header_contacts">
            <p>jpond@uwm.edu | 612-597-1702</p>
        </div>
    </div>

    <div class="first_thing">
        <div id="project_screenshots">
            <img src="/static\potential_background_1.jpg" alt="scrnshot" height="200px" width="450px">
            <img src="/static\potential_background_2.jpg" alt="bla" height="200px" width="450px">
        </div>
        <div id="DSProj_info">
            <p id="DSP_title" style="font-size:48px">Data Analytics Project</p>
            <ul id="DSP_text">During the 2020/2021 school year I completed a data analytics project for the New Revenue & Innovation Practice Director of Horizontal Digital. 
            I used Einstein Analytics, which is a feature of Salesforce. I found a data set on Kaggle, formatted and trimmed the data,
            and inputted it into Eintsein Analytics. This software uses machine learning to maximize or minimize a chosen variable.
            For my dataset, I wanted to maximize the positive response of health insurance customers, when their insurance provider attempted
            to sell them car insurance as well. I put together a presentation for the hypothetical insurance company, highlighting which 
            demographics are most likely to respond positively, and which demographics are not being communicated with in the most
            effective way. </p>
        </div>
    </div>

    <div class="second_thing">
        <div id="java_example">
            <p class="section_title">Java Programming</p>
            <ul class="proj_desc">
                <li>Designed a queue data structure using Java.</li>
                <li>Uses a "robust" iterator that never goes "stale", or loses sync with the index of the outer queue structure.</li>
                <li>Designed from scratch in the time span of one week.</li>
            </ul>
        </div>
        <iFrame id="RQSample" src="/static\RobustQueue.txt" width="700px" height="450px"></iFrame>
    </div>

    <div class="last_thing">
        <p>© Big Doofus 2021. ALL RIGHTS RESERVED.</p>
    </div>
    <script >
        var elements = document.getElementsByClassName("header");
        var navbar = elements[0];
        var sticky = navbar.offsetTop;
        function stickyTopBar() {
            if(window.pageYOffset >= sticky){
                navbar.classList.add("sticky");
            } else{
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>